.jumbotron { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
    color: white;
    text-align: center;
    border-bottom: 20px;

}
  
